Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle

reek:
  run: 'bundle exec reek
  
    '

rubocop:
  run: 'bundle exec rubocop --parallel
  
    '

brakeman:
  run: "bundle exec brakeman --quiet \\\n                     --ensure-latest \\\n                     --no-pager \\\n                     --no-summary\n"

bundle:
  run: "bundle exec bundle-audit check --update \\\n                               --quiet\n"

Used lefthook on circleci
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: bundle

Removed overcommit
  .overcommit.yml
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: bundle

Remove lefthoook
  .circleci/config.yml
Due: none

Added config of dependabot
  .github/dependabot.yml
Due: none

Replaced fast_jsonapi with jsonapi-serializer
  Gemfile
  Gemfile.lock
  app/concepts/application_serializer.rb
  spec/concepts/application_serializer_spec.rb
  spec/lib/service/json_api/resource_serializer_spec.rb
Due: reek, rubocop, brakeman, bundle

Added specify version of jsonapi-serializer
  Gemfile
  lefthook.yml
Due: bundle

Tunned dependabot
  .github/dependabot.yml
Due: none

Added config of dependabot (#182)
  .github/dependabot.yml
Due: none

Removed unneed a file
  lefthook.yml
Due: none

PEO-1152 | Replace fast_jsonapi with jsonapi-serializer (#183)
  Gemfile
  Gemfile.lock
  app/concepts/application_serializer.rb
  spec/concepts/application_serializer_spec.rb
  spec/lib/service/json_api/resource_serializer_spec.rb
Due: reek, rubocop, brakeman, bundle

Reduce docker image from 1.13Gb to 629Mb (#167)
  Dockerfile
Due: none

Reek check all rb files
  lefthook.yml
Due: none

Added fasterer and rails_best_practices to lefthook
  .rubocop.yml
  config/puma.rb
  config/rails_best_practices.yml
  lefthook.yml
Due: reek, rubocop, brakeman

remove bundler from ci config
  .circleci/config.yml
Due: none

Update bundler to 2.1.4
  .circleci/config.yml
  Gemfile.lock
Due: bundle

Update bundler to 2.1.4
  .circleci/config.yml
Due: none

Update bundler to 2.1.4
  Gemfile.lock
Due: bundle

Update bundler to 2.1.4
  .circleci/config.yml
  lefthook.yml
Due: none

Update ci config
  .circleci/config.yml
Due: none

Run reek only on new changes
  lefthook.yml
Due: none

i
  .circleci/config.yml
Due: none

restore Gemfile.lock
  Gemfile.lock
Due: bundle

Added cmake to bundle
  .circleci/config.yml
Due: none

return bundler
  .circleci/config.yml
  lefthook.yml
Due: none

Added emty lines between jobs
  .circleci/config.yml
Due: none

Set new circleci ruby image
  .circleci/config.yml
Due: none

Returned bundle to ci jobs
  .circleci/config.yml
  lefthook.yml
Due: none

Disable folder with gems for reek
  .reek.yml
  lefthook.yml
Due: none

Exclude gems from fasterer check
  .fasterer.yml
Due: none

Added empty lines between jobs
  .circleci/config.yml
Due: none

Ignored macros for zeitwerk
  .rubocop.yml
  Gemfile.lock
  config/application.rb
Due: reek, rubocop, brakeman, bundle

Used sing email rejexp for users and admins
  Gemfile
  config/initializers/devise.rb
  db/seeds.rb
  spec/factories/admin_users.rb
Due: reek, rubocop, brakeman, bundle

enable robocop check AbcSize Metrics
  .rubocop.yml
Due: none

Replaced sprokets with webpacker
  .browserslistrc
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/javascripts/active_admin.js
  app/assets/stylesheets/active_admin.scss
  app/webpacker/packs/active_admin.js
  app/webpacker/packs/active_admin/print.scss
  app/webpacker/stylesheets/active_admin.scss
  babel.config.js
  bin/webpack
  bin/webpack-dev-server
  config/environments/development.rb
  config/initializers/active_admin.rb
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/plugins/jquery.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpacker.yml
  package.json
  postcss.config.js
  yarn.lock
Due: reek, rubocop, brakeman, bundle

Enable clear db in test env
  config/environments/test.rb
Due: reek, rubocop, brakeman

Added webpacker to yarn
  Gemfile.lock
  config/webpacker.yml
  package.json
  yarn.lock
Due: bundle

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  brakeman: any of: *.rb
  bundle: any of: {Gemfile,Gemfile.lock}
