Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle, i18n

reek:
  run: 'bundle exec reek
  
    '

rubocop:
  run: 'bundle exec rubocop --parallel
  
    '

brakeman:
  run: "bundle exec brakeman --quiet \\\n                     --ensure-latest \\\n                     --no-pager \\\n                     --no-summary\n"

bundle:
  run: "bundle exec bundle-audit check --update \\\n                               --quiet\n"

i18n:
  run: 'bundle exec i18n-tasks health
  
    '

Separate workers by files
  app/workers/application_worker.rb
  app/workers/sentry_worker.rb
  spec/workers/application_worker_spec.rb
  spec/workers/sentry_worker_spec.rb
Due: reek, rubocop, brakeman, i18n

Removed unneed spec matcher
  spec/support/matchers/be_defined_in_i18n.rb
Due: reek, rubocop, brakeman, i18n

Added include sidekiw workers to application worker
  app/workers/application_worker.rb
Due: reek, rubocop, brakeman, i18n

Turned off MultipleMemoizedHelpers and MultipleDescribes
  .rubocop.yml
Due: i18n

Used circleci ruby image without legacy
  .circleci/config.yml
Due: i18n

Added Gemfile.lock
  Gemfile.lock
Due: bundle

Tunned circleci config
  .circleci/config.yml
Due: i18n

moved install cmake to bundle
  .circleci/config.yml
Due: i18n

Normalized locales of I18n
  config/i18n-tasks.yml
  config/locales/devise.en.yml
Due: i18n

PEO-1147 Bump ruby to 2.7.1 (#146)
  .circleci/config.yml
  .ruby-version
  Gemfile.lock
  lib/macro/model.rb
  spec/concepts/api/v1/lib/service/json_api_spec.rb
  spec/concepts/api/v1/users/lib/service/session_token_spec.rb
  spec/lib/macro/assign_spec.rb
  spec/lib/macro/decorate_spec.rb
  spec/lib/macro/inject_spec.rb
  spec/lib/macro/model_delete_spec.rb
  spec/lib/macro/model_destroy_spec.rb
  spec/lib/macro/model_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

PEO-1179 | Added sentry (#196)
  Gemfile
  Gemfile.lock
  README.md
  app/workers/application_worker.rb
  app/workers/sentry_worker.rb
  config/initializers/sentry.rb
  config/sidekiq.yml
  spec/workers/application_worker_spec.rb
  spec/workers/sentry_worker_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

PEO-1178 | Added i18n-tasks (#195)
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  config/locales/devise.en.yml
  config/locales/en.errors.yml
  config/locales/en.user_mailer.yml
  lefthook.yml
  spec/concepts/api/v1/lib/operation/filtering_spec.rb
  spec/concepts/api/v1/lib/operation/pagination_spec.rb
  spec/concepts/api/v1/lib/operation/sorting_spec.rb
  spec/concepts/api/v1/users/registrations/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/concepts/api/v1/users/sessions/create_spec.rb
  spec/concepts/api/v1/users/verifications/show_spec.rb
  spec/support/matchers/be_defined_in_i18n.rb
  spec/support/shared_examples/operation/errors_localizations.rb
  spec/support/shared_examples/operation/has_email_token_decryption_errors.rb
  spec/support/shared_examples/operation/has_email_token_equality_errors.rb
  spec/support/shared_examples/operation/nested_inclusion_errors.rb
Due: reek, rubocop, brakeman, bundle, i18n

Bump node-forge to 0.10.0
  yarn.lock
Due: none

Bump node-forge to 0.10.0 (#216)
  yarn.lock
Due: none

Bump dry-validation to 1.5.6 and tunned schema macros
  Gemfile
  Gemfile.lock
  app/concepts/api/v1/lib/contract/inclusion_validation.rb
  app/concepts/api/v1/lib/operation/pagination.rb
  app/concepts/application_contract.rb
  app/controllers/concerns/authentication.rb
  config/i18n-tasks.yml
  config/initializers/dry_validation.rb
  config/initializers/reform.rb
  config/locales/en.errors.yml
  lib/macro/contract/schema/errors.rb
  lib/macro/contract/schema/merge.rb
  lib/macro/schema.rb
  lib/types/json_api.rb
  spec/concepts/api/v1/lib/operation/pagination_spec.rb
  spec/controllers/api/v1/users/sessions_controller_spec.rb
  spec/support/shared_examples/operation/nested_inclusion_errors.rb
Due: reek, rubocop, brakeman, bundle, i18n

Moved dry-validation config to initializer
  app/concepts/api/v1/lib/contract/inclusion_validation.rb
  app/concepts/api/v1/users/lib/contract/decrypt_email_token_validation.rb
  app/concepts/application_contract.rb
  config/initializers/dry_validation.rb
  config/initializers/reform.rb
Due: reek, rubocop, brakeman, i18n

Turn on reform
  app/concepts/application_contract.rb
  config/initializers/reform.rb
Due: reek, rubocop, brakeman, i18n

Added locales from dry_schema
  .rubocop.yml
  Gemfile
  app/concepts/api/v1/lib/contract/filtering_pre_validation.rb
  app/concepts/api/v1/lib/contract/filtering_validation.rb
  app/concepts/api/v1/lib/contract/inclusion_validation.rb
  app/concepts/api/v1/lib/contract/pagination_validation.rb
  app/concepts/api/v1/lib/contract/sorting_pre_validation.rb
  app/concepts/api/v1/users/reset_passwords/contract/create.rb
  app/concepts/api/v1/users/sessions/contract/create.rb
  config/i18n-tasks.yml
  config/initializers/dry_validation.rb
  config/locales/en.errors.yml
  lib/macro/schema.rb
  spec/lib/macro/schema_spec.rb
  spec/support/shared_examples/operation/has_email_token_decryption_errors.rb
Due: reek, rubocop, brakeman, bundle, i18n

Tunned according dry-validation 1.5
  app/concepts/api/v1/lib/contract/sorting_validation.rb
  spec/concepts/api/v1/lib/operation/sorting_spec.rb
Due: reek, rubocop, brakeman, i18n

Add FFaker config to share same seed with RSpec
  spec/support/config/ffaker.rb
Due: reek, rubocop, brakeman, i18n

Bump brakeman
  Gemfile
  Gemfile.lock
Due: bundle

Add FFaker config to share the same seed with RSpec (#227)
  Gemfile
  Gemfile.lock
  spec/support/config/ffaker.rb
Due: reek, rubocop, brakeman, bundle, i18n

Added weekly gems update by dependabot
  .github/dependabot.yml
Due: i18n

Allowed dependabot to check updates once a month
  .github/dependabot.yml
Due: i18n

Remove day from schedule in dependabot config
  .github/dependabot.yml
Due: i18n

Feature | Added monthly gems update by dependabot (#228)
  .github/dependabot.yml
Due: i18n

Tunned specs
  spec/concepts/api/v1/lib/operation/pagination_spec.rb
Due: reek, rubocop, brakeman, i18n

Update used constants name
  Gemfile.lock
  lib/types/json_api.rb
  spec/concepts/api/v1/users/sessions/create_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Tunned specs
  spec/lib/macro/schema_spec.rb
Due: reek, rubocop, brakeman, i18n

Updated dry-validation syntax
  app/concepts/api/v1/users/registrations/contract/create.rb
  config/locales/en.errors.yml
  spec/concepts/api/v1/users/registrations/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
Due: reek, rubocop, brakeman, i18n

Corrected nestting keys of filtering validations
  app/concepts/api/v1/lib/contract/filtering_validation.rb
  spec/concepts/api/v1/lib/operation/filtering_spec.rb
Due: reek, rubocop, brakeman, i18n

Tunned specs to expect what passed
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/lib/macro/add_contract_error_spec.rb
Due: reek, rubocop, brakeman, i18n

Switched to dry-validation new syntax
  spec/lib/macro/renderer_spec.rb
Due: reek, rubocop, brakeman, i18n

added expected errors
  app/concepts/api/v1/users/reset_passwords/contract/update.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/lib/macro/schema_spec.rb
Due: reek, rubocop, brakeman, i18n

removed unneed monkey patching
  lib/macro/contract/schema/errors.rb
  lib/macro/contract/schema/merge.rb
Due: reek, rubocop, brakeman, i18n

Added PerformFiltering, PerformOrdering operations and predicates
  README.md
  app/concepts/api/v1/lib/operation/perform_filtering.rb
  app/concepts/api/v1/lib/operation/perform_ordering.rb
  config/initializers/json_api/filtering.rb
  lib/types/json_api.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
  spec/concepts/api/v1/lib/operation/perform_ordering_spec.rb
Due: reek, rubocop, brakeman, i18n

Added PerformFiltering, PerformOrdering operations and predicates (#249)
  README.md
  app/concepts/api/v1/lib/operation/perform_filtering.rb
  app/concepts/api/v1/lib/operation/perform_ordering.rb
  config/initializers/json_api/filtering.rb
  lib/types/json_api.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
  spec/concepts/api/v1/lib/operation/perform_ordering_spec.rb
Due: reek, rubocop, brakeman, i18n

Added custom ransack predicate to filter by date
  config/initializers/ransack.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
Due: reek, rubocop, brakeman, i18n

Created general database.yml
  .circleci/config.yml
  .gitignore
  config/credentials.yml.enc
  config/credentials/test.yml.enc
  config/database.yml
  config/database.yml.ci
  config/database.yml.example
Due: i18n

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  brakeman: any of: *.rb
  bundle: any of: {Gemfile,Gemfile.lock}
  i18n: any of: *.{rb,yml,html.haml}
