Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle, i18n

reek:
  run: 'bundle exec reek
  
    '

rubocop:
  run: 'bundle exec rubocop --parallel
  
    '

brakeman:
  run: "bundle exec brakeman --quiet \\\n                     --ensure-latest \\\n                     --no-pager \\\n                     --no-summary\n"

bundle:
  run: "bundle exec bundle-audit check --update \\\n                               --quiet\n"

i18n:
  run: 'bundle exec i18n-tasks health
  
    '

Separate token_store to environments
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/jwt_sessions.rb
  config/webpacker.yml
Due: reek, rubocop, brakeman, i18n

Tunned sidekiq configuration
  config/credentials/test.yml.enc
  config/initializers/sentry.rb
  config/initializers/sidekiq.rb
  config/routes.rb
Due: reek, rubocop, brakeman, i18n

Added rack-cors gem
  Gemfile
  Gemfile.lock
  app/controllers/api_controller.rb
  config/initializers/cors.rb
  spec/controllers/api_controller_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Added rout for health chech
  config/routes.rb
Due: reek, rubocop, brakeman, i18n

update aws version
  .terraform/production/ssh_keys/boilerplate-api-production.pub
  .terraform/staging/ssh_keys/boilerplate-api-staging.pub
Due: none

added .docker folder
  .docker/development/Dockerfile
  .docker/development/docker-compose.yml
  .docker/development/entrypoint.sh
  .docker/production/Dockerfile
  .docker/production/entrypoint.sh
  .docker/staging/Dockerfile
  .docker/staging/entrypoint.sh
Due: i18n

Tunned dockerfile for development
  .docker/development/Dockerfile
  .docker/development/docker-compose.yml
  .gitignore
Due: i18n

Added custom ransack predicate to filter by date (#250)
  config/initializers/ransack.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
Due: reek, rubocop, brakeman, i18n

Created general database.yml (#251)
  .circleci/config.yml
  .gitignore
  config/credentials.yml.enc
  config/credentials/test.yml.enc
  config/database.yml
  config/database.yml.ci
  config/database.yml.example
Due: i18n

PEO-1286 | update config (#252)
  Gemfile
  Gemfile.lock
  app/controllers/api_controller.rb
  config/credentials/test.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/cors.rb
  config/initializers/jwt_sessions.rb
  config/initializers/sentry.rb
  config/initializers/sidekiq.rb
  config/routes.rb
  config/webpacker.yml
  spec/controllers/api_controller_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

temprorary dockerfiles
  .docker/development/Dockerfile
  .docker/development/docker-compose.yml
  .docker/production/Dockerfile
  .docker/production/entrypoint.sh
  .docker/staging/Dockerfile
  .docker/staging/entrypoint.sh
Due: i18n

Added encripted credentials
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/credentials/test.yml.enc
  config/environments/development.rb
Due: reek, rubocop, brakeman, i18n

added redis db value
  config/credentials/test.yml.enc
Due: none

added .hoistory to gitignore
  .gitignore
Due: none

Added deploy scripts
  .deploy/bin/build/nginx_image.sh
  .deploy/bin/deploy/base.sh
  .deploy/bin/deploy/production.sh
  .deploy/bin/deploy/staging.sh
  .deploy/bin/variables.sh
  .deploy/nginx/Dockerfile
  .deploy/nginx/configs/nginx.conf
  .deploy/nginx/configs/templates/default.conf
  .deploy/nginx/docker-entrypoint.sh
Due: none

Use docker variables in initializer
  config/database.yml
  config/initializers/sidekiq.rb
  config/webpacker.yml
Due: reek, rubocop, brakeman, i18n

Added create db to entrypoint
  docker-entrypoint.sh
Due: none

tunned dockerfile
  .docker/development/Dockerfile
  .docker/development/entrypoint.sh
  .docker/production/Dockerfile
  .docker/staging/Dockerfile
  Dockerfile
Due: none

Added dockerfile for development
  .docker/development/Dockerfile
  .gitignore
  config/database.yml
  config/webpacker.yml
Due: i18n

Added dockerfile for staging and production
  .docker/production/Dockerfile
  .docker/staging/Dockerfile
  .dockerignore
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
Due: i18n

Added autodeploy to circleci config
  .circleci/config.yml
Due: i18n

Added default variables to credentials
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/credentials/test.yml.enc
Due: none

Feature | Added encrypted credentials (#254)
  .gitignore
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/credentials/test.yml.enc
  config/database.yml
  config/environments/development.rb
  config/initializers/sidekiq.rb
  config/webpacker.yml
  docker-entrypoint.sh
Due: reek, rubocop, brakeman, i18n

add root path
  config/routes.rb
  spec/features/admin/check_root_path_spec.rb
Due: reek, rubocop, brakeman, i18n

refactored dockerfile code
  Dockerfile
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
Due: none

Added unneed folders to dockerignore
  .dockerignore
Due: none

Use webdrivers instead selenium-drivers
  Gemfile
  Gemfile.lock
  spec/support/config/capybara.rb
Due: reek, rubocop, brakeman, bundle, i18n

United delete and destroy macros
  Dockerfile
  README.md
  lib/macro/model_destroy.rb
  lib/macro/model_remove.rb
  spec/lib/macro/model_delete_spec.rb
  spec/lib/macro/model_destroy_spec.rb
  spec/lib/macro/model_remove_spec.rb
Due: reek, rubocop, brakeman, i18n

Bump ruby version to 2.7.2
  .circleci/config.yml
  .ruby-version
  Dockerfile
  Gemfile.lock
Due: bundle, i18n

Set ruby 2.7.2 for docker
  .docker/development/Dockerfile
  .docker/production/Dockerfile
  .docker/staging/Dockerfile
Due: none

Added errors when entity not found
  app/concepts/api/v1/users/reset_passwords/operation/create.rb
  app/concepts/api/v1/users/sessions/operation/create.rb
  app/controllers/concerns/default_endpoint.rb
  config/environments/test.rb
  config/locales/en.errors.yml
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
  spec/concepts/api/v1/users/sessions/create_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
Due: reek, rubocop, brakeman, i18n

Added credentials.yml with description of variables
  config/credentials/credentials.yml
  config/environments/production.rb
Due: reek, rubocop, brakeman, i18n

Moved email not foun locale to reset password namespace
  app/concepts/api/v1/users/reset_passwords/operation/create.rb
  config/locales/en.errors.yml
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
Due: reek, rubocop, brakeman, i18n

bugfix | tunning config (#256)
  .circleci/config.yml
  .dockerignore
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/concepts/api/v1/users/reset_passwords/operation/create.rb
  app/concepts/api/v1/users/sessions/operation/create.rb
  app/controllers/concerns/default_endpoint.rb
  config/credentials/credentials.yml
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/environments/production.rb
  config/environments/test.rb
  config/locales/en.errors.yml
  config/routes.rb
  lib/macro/model_destroy.rb
  lib/macro/model_remove.rb
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
  spec/concepts/api/v1/users/sessions/create_spec.rb
  spec/features/admin/check_root_path_spec.rb
  spec/lib/macro/model_delete_spec.rb
  spec/lib/macro/model_destroy_spec.rb
  spec/lib/macro/model_remove_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/support/config/capybara.rb
Due: reek, rubocop, brakeman, bundle, i18n

Readme updated with actual linter tool using
  README.md
Due: none

Readme updated with actual linter tool using (#266)
  README.md
Due: none

Add description for password
  README.md
Due: none

Add description for password (#268)
  README.md
Due: none

ISSUE-262 | Fix 403 status, when request refresh user session
  app/concepts/api/v1/users/lib/service/session_token.rb
Due: reek, rubocop, brakeman, i18n

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  brakeman: any of: *.rb
  bundle: any of: {Gemfile,Gemfile.lock}
  i18n: any of: *.{rb,yml,html.haml}
