Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle

reek:
  run: 'bundle exec reek
  
    '

rubocop:
  run: 'bundle exec rubocop --parallel
  
    '

brakeman:
  run: "bundle exec brakeman --quiet \\\n                     --ensure-latest \\\n                     --no-pager \\\n                     --no-summary\n"

bundle:
  run: "bundle exec bundle-audit check --update \\\n                               --quiet\n"

Removed app/assets/config/manifest.js
  app/assets/config/manifest.js
  config/webpacker.yml
Due: none

clear manifest.js
  app/assets/config/manifest.js
  config/environments/development.rb
  config/webpacker.yml
Due: reek, rubocop, brakeman

turn off compile for test
  config/webpacker.yml
Due: none

Added build assets to ci config
  .circleci/config.yml
  config/webpacker.yml
Due: none

Added yarn install to circleci config
  .circleci/config.yml
Due: none

Check parrents class of application_uploader
  spec/uploaders/application_uploader_spec.rb
Due: reek, rubocop, brakeman

PEO-1151 Replace overcommit with lefthook (#178)
  .circleci/config.yml
  .fasterer.yml
  .overcommit.yml
  .reek.yml
  .rubocop.yml
  .simplecov
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/initializers/constants/shared.rb
  config/rails_best_practices.yml
  lefthook.yml
  lib/macro/schema.rb
Due: reek, rubocop, brakeman, bundle

Fix filtering by boolean
  lib/types/json_api.rb
  spec/lib/types/json_api_spec.rb
Due: reek, rubocop, brakeman

Removed simplecove filter
  spec/rails_helper.rb
Due: reek, rubocop, brakeman

Change ruby image on CI
  .circleci/config.yml
Due: none

Use lefthook in CI config
  .circleci/config.yml
Due: none

Moved zeitwerk config to separate file
  config/application.rb
  config/initializers/zeitwerk.rb
Due: reek, rubocop, brakeman

Bump brakeman
  .rubocop.yml
  Gemfile.lock
Due: bundle

PEO-1174 | Add config of shrine (#164)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  app/uploaders/application_uploader.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/shrine.rb
  spec/uploaders/application_uploader_spec.rb
Due: reek, rubocop, brakeman, bundle

PEO-1150 Update CircleCI configuration (#177)
  .circleci/config.yml
Due: none

Added dip
  Dockerfile
  Gemfile
  Gemfile.lock
  dip.yml
Due: bundle

set dip version
  Gemfile
  Gemfile.lock
Due: bundle

Change db name for dip
  dip.yml
Due: none

Fix filtering by boolean (#193)
  lib/types/json_api.rb
  spec/lib/types/json_api_spec.rb
Due: reek, rubocop, brakeman

Set correct config to dip run psql
  dip.yml
Due: none

Added dip description
  README.md
Due: none

Set gems in correct order
  Gemfile
Due: bundle

Tunned readme.md
  Dockerfile
  README.md
Due: none

Added i18n-tasks and removed unused locales
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  config/locales/en.errors.yml
  config/locales/en.user_mailer.yml
  lefthook.yml
  spec/concepts/api/v1/lib/operation/filtering_spec.rb
  spec/concepts/api/v1/lib/operation/pagination_spec.rb
  spec/concepts/api/v1/lib/operation/sorting_spec.rb
  spec/concepts/api/v1/users/registrations/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/create_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/concepts/api/v1/users/sessions/create_spec.rb
  spec/concepts/api/v1/users/verifications/show_spec.rb
  spec/support/shared_examples/operation/has_email_token_decryption_errors.rb
  spec/support/shared_examples/operation/has_email_token_equality_errors.rb
  spec/support/shared_examples/operation/nested_inclusion_errors.rb
Due: reek, rubocop, brakeman, bundle

Added sentry raven
  Gemfile
  Gemfile.lock
  README.md
  app/workers/sentry_worker.rb
  config/initializers/sentry.rb
  config/sidekiq.yml
  spec/workers/sentry_worker_spec.rb
Due: reek, rubocop, brakeman, bundle

Added new circleci ruby image with browser
  .circleci/config.yml
  config/initializers/devise.rb
Due: reek, rubocop, brakeman

Added yarn to circleci config
  .circleci/config.yml
  .rubocop.yml
Due: none

Remove yarn from ci config
  .circleci/config.yml
Due: none

PEO-1149 Manual add lib folder and add zeitwerk as a default loader (#190)
  config/initializers/zeitwerk.rb
Due: reek, rubocop, brakeman

PEO-1177 | add dip to develop (#194)
  Gemfile
  Gemfile.lock
  README.md
  dip.yml
Due: bundle

Rename worker
  app/workers/base_worker.rb
  config/sidekiq.yml
  spec/workers/base_worker_spec.rb
Due: reek, rubocop, brakeman

Excluced activeadmin method register from rubocop
  .rubocop.yml
Due: none

Remove uneed i18n configuration
  config/i18n-tasks.yml
Due: none

Removed unneed shared examples and Bump rails to 6.0.3.3
  Gemfile.lock
  spec/support/shared_examples/operation/errors_localizations.rb
Due: reek, rubocop, brakeman, bundle

Added rescue when redis get invalida expire time
  .reek.yml
  Gemfile.lock
  app/concepts/api/v1/users/lib/service/redis_adapter.rb
  spec/controllers/concerns/default_endpoint_spec.rb
Due: reek, rubocop, brakeman, bundle

Bump rails to 6.0.3.3
  Gemfile.lock
Due: bundle

Added model Settings
  README.md
  app/models/setting.rb
  db/migrate/20200910151830_create_settings.rb
  db/schema.rb
  lib/tasks/generate_settings_cortege.rake
  spec/factories/settings.rb
  spec/models/setting_spec.rb
Due: reek, rubocop, brakeman

Avoided push to redis if payload is empty
  app/concepts/api/v1/users/lib/service/redis_adapter.rb
  config/locales/en.errors.yml
Due: reek, rubocop, brakeman

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  brakeman: any of: *.rb
  bundle: any of: {Gemfile,Gemfile.lock}
