Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle, i18n

lefthook.yml:

pre-commit:
  parallel: true

  commands:
    reek:
      glob: "*.rb"
      run: |
        bundle exec reek

    rubocop:
      glob: "*.rb"
      run: |
        bundle exec rubocop --parallel

    brakeman:
      glob: "*.rb"
      run: |
        bundle exec brakeman --quiet \
                             --ensure-latest \
                             --no-pager \
                             --no-summary

    fasterer:
      run: |
        bundle exec fasterer

    rails_best_practices:
      run: |
        bundle exec rails_best_practices

    bundle:
      glob: "{Gemfile,Gemfile.lock}"
      run: |
        bundle exec bundle-audit check --update \
                                       --quiet

    i18n:
      glob: "*.{rb,yml,html.haml}"
      run: |
        bundle exec i18n-tasks health

default: &default
  commands:
    bundle:
      files: git diff --name-only HEAD master
      glob: "{Gemfile,Gemfile.lock}"
      run: |
        bundle install

post-checkout:
  <<: *default

post-merge:
  <<: *default

post-rewrite:
  <<: *default

all:
  parallel: true

  commands:
    fasterer:
      run: |
        bundle exec fasterer

    rails_best_practices:
      run: |
        bundle exec rails_best_practices

    reek:
      run: |
        bundle exec reek

    rubocop:
      glob: "*.rb"
      run: |
        bundle exec rubocop --parallel

    brakeman:
      glob: "*.rb"
      run: |
        bundle exec brakeman --quiet \
        --ensure-latest \
        --no-pager

    bundle:
      glob: "{Gemfile,Gemfile.lock}"
      run: |
        bundle exec bundle-audit check --update

    i18n:
      glob: "*.{rb,yml,html.haml}"
      run: |
        bundle exec i18n-tasks health

Set explisit dry-validation version
  Gemfile
  Gemfile.lock
  config/database.yml
Due: bundle, i18n

Update CI config
  .circleci/config.yml
  Gemfile
Due: bundle, i18n

[BDO-348] Add custom pundit macros (#329)
  .reek.yml
  .rubocop.yml
  README.md
  lib/macro/policy.rb
  spec/lib/macro/policy_spec.rb
Due: reek, rubocop, brakeman, i18n

Udapted CI config
  .circleci/config.yml
  Gemfile.lock
Due: bundle, i18n

Updated yarn config
  package.json
  yarn.lock
Due: none

Updated yarn config (#338)
  package.json
  yarn.lock
Due: none

WIP
  .gitignore
  Gemfile.lock
  config/credentials.yml.enc
  config/credentials/development.yml.enc
  config/initializers/cors.rb
  swagger/v1/swagger.yaml
Due: reek, rubocop, brakeman, bundle, i18n
