Repository rubygarage/boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: reek, rubocop, brakeman, bundle, i18n

reek:
  run: 'bundle exec reek
  
    '

rubocop:
  run: 'bundle exec rubocop --parallel
  
    '

brakeman:
  run: "bundle exec brakeman --quiet \\\n                     --ensure-latest \\\n                     --no-pager \\\n                     --no-summary\n"

bundle:
  run: "bundle exec bundle-audit check --update \\\n                               --quiet\n"

i18n:
  run: 'bundle exec i18n-tasks health
  
    '

Add refresh_payload
  app/concepts/api/v1/users/lib/service/session_token.rb
  spec/concepts/api/v1/users/lib/service/session_token_spec.rb
Due: reek, rubocop, brakeman, i18n

Fix specs
  Gemfile
  Gemfile.lock
  config/initializers/bullet.rb
  spec/rails_helper.rb
  spec/requests/api/v1/users/account/profiles_spec.rb
  spec/requests/api/v1/users/reset_passwords_spec.rb
  spec/requests/api/v1/users/verifications_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Downgrade json_matchers
  Gemfile
  Gemfile.lock
Due: bundle

Downgrade json_matchers (#275)
  Gemfile
  Gemfile.lock
Due: bundle

ISSUE-262 | Add refresh payload (#270)
  app/concepts/api/v1/users/lib/service/session_token.rb
  spec/concepts/api/v1/users/lib/service/session_token_spec.rb
Due: reek, rubocop, brakeman, i18n

ISSUE-276 | RemoveEmailNotification worker
  app/concepts/api/v1/users/lib/worker/email_notification.rb
  app/concepts/api/v1/users/reset_passwords/operation/update.rb
  app/concepts/api/v1/users/verifications/operation/show.rb
  config/sidekiq.yml
  spec/concepts/api/v1/users/account/profiles/show_spec.rb
  spec/concepts/api/v1/users/lib/worker/email_notification_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/concepts/api/v1/users/verifications/show_spec.rb
Due: reek, rubocop, brakeman, i18n

ISSUE-276 | RemoveEmailNotification worker (#277)
  app/concepts/api/v1/users/lib/worker/email_notification.rb
  app/concepts/api/v1/users/reset_passwords/operation/update.rb
  app/concepts/api/v1/users/verifications/operation/show.rb
  config/sidekiq.yml
  spec/concepts/api/v1/users/account/profiles/show_spec.rb
  spec/concepts/api/v1/users/lib/worker/email_notification_spec.rb
  spec/concepts/api/v1/users/reset_passwords/update_spec.rb
  spec/concepts/api/v1/users/verifications/show_spec.rb
Due: reek, rubocop, brakeman, i18n

ISSUE-264 | Add custom Policy macros
  lib/macro/pundit.rb
Due: reek, rubocop, brakeman, i18n

Fix rubocop
  config/credentials/development.yml.enc
  lib/macro/pundit.rb
Due: reek, rubocop, brakeman, i18n

Add more specs
  spec/rails_helper.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/requests/api/v1/users/reset_passwords_spec.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/support/config/n_plus_one_control.rb
Due: reek, rubocop, brakeman, i18n

ISSUE-264 | Replace bullet to n_plus_one (#267)
  Gemfile
  Gemfile.lock
  config/initializers/bullet.rb
  spec/requests/api/v1/users/account/profiles_spec.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/requests/api/v1/users/reset_passwords_spec.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/requests/api/v1/users/verifications_spec.rb
  spec/support/config/n_plus_one_control.rb
Due: reek, rubocop, brakeman, bundle, i18n

Add specs
  .reek.yml
  lib/macro/pundit.rb
  spec/lib/macro/pundit_spec.rb
Due: reek, rubocop, brakeman, i18n

Tunned PerformFiltering to work with integer and used credentials in redis config
  Gemfile.lock
  app/concepts/api/v1/lib/operation/perform_filtering.rb
  config/credentials/development.yml.enc
  config/credentials/staging.yml.enc
  config/initializers/redis.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Allowed use Macro::ModelRemove several times
  Gemfile
  Gemfile.lock
  lib/macro/model_remove.rb
  spec/lib/macro/model_remove_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Added render errors from contract with name
  app/concepts/api/v1/users/registrations/operation/create.rb
  lib/service/json_api/base_error_serializer.rb
  spec/concepts/api/v1/users/registrations/create_spec.rb
  spec/lib/service/json_api/resource_error_serializer_spec.rb
  spec/lib/service/json_api/uri_query_error_serializer_spec.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/support/shared_examples/operation/has_validation_errors.rb
  spec/support/shared_examples/request/renders_bad_request_errors.rb
Due: reek, rubocop, brakeman, i18n

Updated nokogiri with brakeman
  Gemfile
  Gemfile.lock
Due: bundle

Tunned PerformFiltering to work with integer and used credentials in redis config (#292)
  Gemfile.lock
  app/concepts/api/v1/lib/operation/perform_filtering.rb
  config/credentials/development.yml.enc
  config/credentials/staging.yml.enc
  config/initializers/redis.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Added render errors from contract with name (#294)
  Gemfile
  Gemfile.lock
  app/concepts/api/v1/users/registrations/operation/create.rb
  lib/service/json_api/base_error_serializer.rb
  spec/concepts/api/v1/users/registrations/create_spec.rb
  spec/lib/service/json_api/resource_error_serializer_spec.rb
  spec/lib/service/json_api/uri_query_error_serializer_spec.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/support/shared_examples/operation/has_validation_errors.rb
  spec/support/shared_examples/request/renders_bad_request_errors.rb
Due: reek, rubocop, brakeman, bundle, i18n

Allowed use Macro::ModelRemove several times (#293)
  lib/macro/model_remove.rb
  spec/lib/macro/model_remove_spec.rb
Due: reek, rubocop, brakeman, i18n

Bump msgpack to 1.4.2
  Gemfile.lock
Due: bundle

Replaced call methods head with render_head_or_errors for 422 and 410 statuses
  app/controllers/concerns/default_endpoint.rb
  spec/controllers/concerns/default_endpoint_spec.rb
Due: reek, rubocop, brakeman, i18n

Added a spec to check filter eq with datetime
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
Due: reek, rubocop, brakeman, i18n

Added gem rswag
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/rswag_api.rb
  config/initializers/rswag_ui.rb
  config/locales/en.errors.yml
  config/routes.rb
  spec/rails_helper.rb
  spec/requests/api/v1/users/account/profiles_spec.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/requests/api/v1/users/reset_passwords_spec.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/requests/api/v1/users/verifications_spec.rb
  spec/support/shared_examples/request/renders_bad_request_errors.rb
  spec/support/shared_examples/request/renders_unauthenticated_errors.rb
  spec/support/shared_examples/request/renders_unprocessable_entity_errors.rb
  spec/support/shared_examples/request/renders_uri_query_errors.rb
  spec/support/shared_examples/request/returns_not_found_status.rb
  spec/swagger_helper.rb
  swagger/v1/swagger.yaml
Due: reek, rubocop, brakeman, bundle, i18n

Removed gem dox
  Gemfile
  Gemfile.lock
  README.md
  public/api/docs/v1/index.apib
  public/api/docs/v1/index.html
  spec/api_doc/v1/descriptions/header.md
  spec/api_doc/v1/users/account/profile.rb
  spec/api_doc/v1/users/registration.rb
  spec/api_doc/v1/users/reset_password.rb
  spec/api_doc/v1/users/session.rb
  spec/api_doc/v1/users/session/refresh.rb
  spec/api_doc/v1/users/verification.rb
  spec/support/config/dox.rb
Due: reek, rubocop, brakeman, bundle, i18n

[ISSUE-263] Added ability to render errors for `gone` and `forbidden` (#307)
  app/controllers/concerns/default_endpoint.rb
  spec/concepts/api/v1/lib/operation/perform_filtering_spec.rb
  spec/controllers/concerns/default_endpoint_spec.rb
Due: reek, rubocop, brakeman, i18n

[Issue-284] | Migrate from dox to rswag (#308)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/rswag_api.rb
  config/initializers/rswag_ui.rb
  config/locales/en.errors.yml
  config/routes.rb
  public/api/docs/v1/index.apib
  public/api/docs/v1/index.html
  spec/api_doc/v1/descriptions/header.md
  spec/api_doc/v1/users/account/profile.rb
  spec/api_doc/v1/users/registration.rb
  spec/api_doc/v1/users/reset_password.rb
  spec/api_doc/v1/users/session.rb
  spec/api_doc/v1/users/session/refresh.rb
  spec/api_doc/v1/users/verification.rb
  spec/rails_helper.rb
  spec/requests/api/v1/users/account/profiles_spec.rb
  spec/requests/api/v1/users/registrations_spec.rb
  spec/requests/api/v1/users/reset_passwords_spec.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/requests/api/v1/users/verifications_spec.rb
  spec/support/config/dox.rb
  spec/support/shared_examples/request/renders_bad_request_errors.rb
  spec/support/shared_examples/request/renders_unauthenticated_errors.rb
  spec/support/shared_examples/request/renders_unprocessable_entity_errors.rb
  spec/support/shared_examples/request/renders_uri_query_errors.rb
  spec/support/shared_examples/request/returns_not_found_status.rb
  spec/swagger_helper.rb
  swagger/v1/swagger.yaml
Due: reek, rubocop, brakeman, bundle, i18n

Replaced id with uuid
  config/initializers/generators.rb
  db/migrate/20190813110526_enable_uuid.rb
  db/migrate/20190813110527_create_users.rb
  db/migrate/20190813124813_create_accounts.rb
  db/migrate/20200831072010_devise_create_admin_users.rb
  db/schema.rb
Due: reek, rubocop, brakeman, i18n

Unite an migration
  db/migrate/20190813110526_enable_uuid.rb
  db/migrate/20190813110527_create_users.rb
  db/migrate/20190813124813_create_accounts.rb
  db/migrate/20190827053243_add_verification_to_accounts.rb
  db/schema.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/support/shared_examples/request/renders_uri_query_errors.rb
Due: reek, rubocop, brakeman, i18n

[ISSUE-315] | Make UUID as primary key by default (#316)
  config/initializers/generators.rb
  db/migrate/20190813110526_enable_uuid.rb
  db/migrate/20190813110527_create_users.rb
  db/migrate/20190813124813_create_accounts.rb
  db/migrate/20190827053243_add_verification_to_accounts.rb
  db/migrate/20200831072010_devise_create_admin_users.rb
  db/schema.rb
  spec/requests/api/v1/users/session/refreshes_spec.rb
  spec/support/shared_examples/request/renders_uri_query_errors.rb
Due: reek, rubocop, brakeman, i18n

Init replace trailblazer-endpoint with simple-endpoint
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users/account/profiles_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/controllers/api/v1/users/reset_passwords_controller.rb
  app/controllers/api/v1/users/session/refreshes_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users/verifications_controller.rb
  app/controllers/api_controller.rb
  app/controllers/concerns/default_endpoint.rb
  app/endpoints/application_endpoint.rb
  spec/controllers/concerns/default_endpoint_spec.rb
  spec/endpoints/application_endpoint_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Moved rules for default cases
  .reek.yml
  .rubocop.yml
  Gemfile
  app/controllers/api/v1/users/session/refreshes_controller.rb
  app/controllers/api_controller.rb
  app/controllers/authorized_api_controller.rb
  app/controllers/concerns/default_endpoint.rb
  app/endpoints/application_endpoint.rb
  config/rails_best_practices.yml
  spec/controllers/concerns/default_endpoint_spec.rb
  spec/endpoints/application_endpoint_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Added a condition when store token in redis
  app/concepts/api/v1/users/lib/service/redis_adapter.rb
Due: reek, rubocop, brakeman, i18n

Removed unneed specs of trailblaizer-endpoint
  Gemfile
  Gemfile.lock
  app/controllers/concerns/default_endpoint.rb
  spec/controllers/concerns/default_endpoint_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Migrate to simple-endpoint (#322)
  .reek.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users/account/profiles_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/controllers/api/v1/users/reset_passwords_controller.rb
  app/controllers/api/v1/users/session/refreshes_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users/verifications_controller.rb
  app/controllers/api_controller.rb
  app/controllers/authorized_api_controller.rb
  app/controllers/concerns/default_endpoint.rb
  app/endpoints/application_endpoint.rb
  config/rails_best_practices.yml
  spec/controllers/concerns/default_endpoint_spec.rb
  spec/endpoints/application_endpoint_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

[BDO-348] Add custom pundit macros
  .reek.yml
  .rubocop.yml
  README.md
  lib/macro/policy.rb
  spec/lib/macro/policy_spec.rb
Due: reek, rubocop, brakeman, i18n

Tunned simple-endpoint config and specs
  Gemfile
  Gemfile.lock
  app/controllers/api_controller.rb
  app/controllers/authorized_api_controller.rb
  config/initializers/reform.rb
  config/locales/en.errors.yml
  config/rails_best_practices.yml
  lib/service/json_api/uri_query_error_serializer.rb
  spec/requests/api/v1/users/registrations_spec.rb
Due: reek, rubocop, brakeman, bundle, i18n

Resolved rubocop issues
  lib/service/json_api/error_data_structure_parser.rb
  spec/concepts/api/v1/lib/service/json_api_spec.rb
Due: reek, rubocop, brakeman, i18n

Udapted CI config
  .circleci/config.yml
  Gemfile
Due: bundle, i18n

Updated CI config
  .circleci/config.yml
Due: i18n

Path conditions:
  reek: any of: *.rb
  rubocop: any of: *.rb
  brakeman: any of: *.rb
  bundle: any of: {Gemfile,Gemfile.lock}
  i18n: any of: *.{rb,yml,html.haml}
